VITE_SUPABASE_URL=https://uknewsxmjgqrwwepviaq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrbmV3c3htamdxcnd3ZXB2aWFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMTgxODUsImV4cCI6MjA2NjY5NDE4NX0.rQYAJ2KzSbvQyvbQLKPLZZ7ui4dtwXye6uRkHBEC4Ig
VITE_APP_NAME=RSUD Bima
VITE_APP_URL=https://dinyatun.github.io/RSUD-Bima